.cardsContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(37, 37, 37, 0.692);
    color: silver;
}

.flexCardsContainer{
    columns: 4;
    column-gap: 40px;
}

.cardBox{
    width: 95%;
    margin: 0 0 20px;
    padding: 10px;
    background: rgb(53, 53, 53);
    overflow: hidden;
    break-inside: avoid;
    border-radius: 25px;
}
.cardBox:hover{
    background-color: goldenrod;
    transition: 0.5s;
    color: darkred;
}
.cardBox img{
    max-width: 100%;
    border-radius: 25px;
}
.cardBox h2{
    margin: 10px 0 0;
    padding: 0;
    font-size: 20px;
}
.cardBox p{
    margin: 0;
    padding: 0 0 25px;
    font-size: 16px;
}


@media (max-width:1200px){
    .flexCardsContainer{
        columns: 3;
        width: calc(100% - 40px);
        box-sizing: border-box;
        padding: 10px 10px 10px 10px;
    }
}
@media (max-width: 768px){
    .flexCardsContainer{
        columns: 2;
    }
}
@media (max-width: 480px){
    .flexCardsContainer{
        columns: 1;
    }
}