::-webkit-scrollbar {
    display: none;
}

:root{
    --bordaPadrao: 15px;
}
.bg-red{
    background-color: rgb(48, 24, 24);
}
button, input{
    outline: none;
}
.container{
    display: flex;
    flex-direction: row;
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
}
iframe{
    border-radius: calc(var(--bordaPadrao) + 5px);
}
img, button, input, h1, p{
    border-radius: var(--bordaPadrao);
    font-family: monospace;
}