::-webkit-scrollbar {
    /*display: none;*/
}
body{
    justify-content: center;
    display: flex;
}
:root{
    --bordaPadrao: 15px;
}
.bg-red{
    background-color: rgb(48, 24, 24);
}
a {
    text-decoration: none;
}
button, input{
    outline: none;
}
.container{
    display: flex;
    flex-direction: row;
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
}
iframe{
    border-radius: calc(var(--bordaPadrao) + 5px);
}
img, button, input, h1, p{
    border-radius: var(--bordaPadrao);
    font-family: monospace;
}

.tituloEstilizado{
    width: 95%;
    background-color: gray;
    text-align: center;
}

.customBorder{
    border-radius: var(--bordaPadrao);
}

.centerColumnBox{
    display: flex;
    flex-direction: column;
    align-items: center;
}